.cls-1 {
  clip-path: url(#clip-header);
}

.cls-2 {
  fill: #35b2ff;
}

.cls-10,
.cls-3 {
  opacity: 0.3;
}

.cls-4 {
  fill: #fff;
  opacity: 0.6;
}

.cls-10,
.cls-5,
.cls-6 {
  fill: #047;
}

.cls-6 {
  opacity: 0.2;
}

.cls-12,
.cls-13,
.cls-14,
.cls-7,
.cls-8,
.cls-9 {
  fill: none;
}

.cls-11,
.cls-14,
.cls-7,
.cls-8,
.cls-9 {
  stroke: #047;
}

.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-7,
.cls-8,
.cls-9 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-7 {
  stroke-width: 4.4px;
}

.cls-8 {
  stroke-width: 3.4px;
}

.cls-9 {
  stroke-width: 3.19px;
}

.cls-11 {
  fill: #b1d8ff;
}

.cls-11,
.cls-12 {
  stroke-width: 2.31px;
}

.cls-12,
.cls-13 {
  stroke: #b1d8ff;
  stroke-dasharray: 100;
}

.cls-13 {
  stroke-width: 2.27px;
}

.cls-14 {
  stroke-width: 2.32px;
}
.cls-12,
.cls-13,
.cls-14,
.bindings {
  stroke-dasharray: 100;
  animation: dash 25s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
svg {
  #Players {
    opacity: 1;
  }
  #Free {
    opacity: 0;
  }
  #Players,
  #Free {
    transition: opacity 3000ms ease-in-out;
  }
}
svg .new-world {
  #Players {
    opacity: 0;
  }
  #Free {
    opacity: 1;
  }
}
